.search {
    text-align: center;
    margin-bottom: 54px;
    &__heading {
        margin-top: 166px;
        font-size: 5rem;
        line-height: 5rem;
        font-weight: 700;
        color: var(--white-color);
        text-align: center;
        margin-bottom: 35px;
    }
    &__sub-heading {
        font-size: 2rem;
        font-weight: 400;
        line-height: 2rem;
        letter-spacing: 0.2rem;
        text-align: center;
        color: var(--white-color);
        margin: 0;
        margin-bottom: 65px;
    }
    &__container {
        text-align: center;
        position: relative;
        display: inline-block;
    }
    &__select {
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        background-color: #f9f9f9;
        padding: 10px 25px;
        font-size: 1.5rem;
        color: var(--gray-color);
        border-radius: 30px;
        width: 370px;   
        outline: none;
        border: none;
    }
    &__btn {
        width: 39px;
        height: 39px;
        padding: 8px 8px;
        position: absolute;
        right: 4px;
        top: 0;
        cursor: pointer;
    }
}