:root {
    /* Color */
    --red-color: #f76570;
    --green-color: #1bbc9b;
    --aqua-color: #14b9d5;
    --white-color: #ffffff;
    --purple-color: #ba71da;
    --orange-color: #f3a496;
    --yellow-color: #ffd205;
    --gray-color: #9a9a9a;
    --gray-da-color: #dadada;
    --text-color: #555555;

    /* border*/ 
    --border: 1px solid rgba(0, 0, 0, 0.05);
}